@page "/more"

<h4>More</h4>

<ul class="qb-link-list">
    <li>
        <a href="/vault">
            <i class="bi bi-shield-lock-fill"></i>
            Vault
            <span class="qb-link-chevron"><i class="bi bi-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="/history">
            <i class="bi bi-clock-history"></i>
            History
            <span class="qb-link-chevron"><i class="bi bi-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="/sync">
            <i class="bi bi-arrow-repeat"></i>
            Sync Manager
            <span class="qb-link-chevron"><i class="bi bi-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="/receive">
            <i class="bi bi-qr-code"></i>
            Receive / QR Code
            <span class="qb-link-chevron"><i class="bi bi-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="/send-many">
            <i class="bi bi-people-fill"></i>
            Send to Many
            <span class="qb-link-chevron"><i class="bi bi-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="/voting">
            <i class="bi bi-check2-square"></i>
            Governance / Voting
            <span class="qb-link-chevron"><i class="bi bi-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="/sc-auctions">
            <i class="bi bi-hammer"></i>
            SC Auctions
            <span class="qb-link-chevron"><i class="bi bi-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="/settings">
            <i class="bi bi-gear-fill"></i>
            Settings
            <span class="qb-link-chevron"><i class="bi bi-chevron-right"></i></span>
        </a>
    </li>
</ul>
